<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".PuppyClickerApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/seasonal_backup_rules"
        android:dataExtractionRules="@xml/seasonal_data_extraction_rules"
        android:icon="@drawable/source_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/source_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuppyClicker">

        <activity
            android:name=".AfkWelcomeActivity"
            android:exported="false" />

        <activity
            android:name=".PuppyClickerV6Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PuppyClickerV5Activity"
            android:exported="false" />
    </application>

</manifest>